### common #
/.idea
.project
.classpath
*.launch
.settings/
/.vscode

/CoreWebApi/Program.cs

# OS #
.DS_Store
Thumbs.db
Desktop.ini

# LOGS #
*.log

*.dll

*.pdb
=======
composer.phar

# NODE #
node_modules
bower_components



# Visual Studio
[Dd]ebug/
[Rr]elease/

bin
obj
*.lock.json

/run.bat
/CoreWebApi/update.bat
