.bbqZH {
  height:100%;
}
.ZHHeader {
  position: absolute;
  height:78px;
  top:0;left:0;right:0;
  background: #00A0E8;
  color: #fff;
}
.ZHBody {
  //margin-top:80px;
  height:100%;
  position: relative;
  display: flex;
}
.ZHAside {
  // position: absolute;
  // left:0;top:0;
  height:100%;
  width:200px;
  background: #fff;
  //overflow: auto;
  transition: width 0.2s ease;
}
.ZHMain {
  //width:100%;
  height:100%;
  //margin-left:200px;
  flex: 1;
  background: #fff;
  overflow:auto;
  position: relative;
  //transition: margin-left 0.2s ease;
}
.ZHMainBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ZHMainHeader {
  //height:86px;
}
.ZHnormal {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ZHfoot {
  position: fixed;
  left:0;right:0;bottom:0;
  background: #f5f5f5;
  padding: 6px 8px;
}
.ZHMainInner {
  //padding-top:85px;
  overflow: hidden;
  height: 100%;
  flex: 1;
}

:global(.collapse) {
  .ZHAside {
    width: 64px;
  }
}
:global(.mainFixed) {
  .ZHAside {
    display: none;
  }
}


// .ZHAside::-webkit-scrollbar,
// .ZHMain::-webkit-scrollbar
// {
//   width: 6px;
//   height: 6px;
// }
// .ZHAside::-webkit-scrollbar-thumb,
// .ZHMain::-webkit-scrollbar-thumb
// {
//   background-color: rgba(0,0,0,0.13);
//   border-radius: 10px;
// }
// .ZHAside:hover::-webkit-scrollbar-thumb,
// .ZHMain:hover::-webkit-scrollbar-thumb
// {
//   background-color: rgba(0,0,0,0.3);
// }
