@import "antdExtend.scss";

:global {
  // ::-webkit-input-placeholder {
  //   color: #000 !important;
  // }
  // ::-moz-placeholder {
  //   color: #000 !important;
  // }
  // ::-ms-input-placeholder {
  //   color: #000 !important;
  // }
  .edge::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  #root,
  body,
  html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vertical-center-modal .ant-modal {
    top: 0;
  }
  .ant-select-dropdown-menu-item {
    padding: 6px 5px;
  }
  .down {
    animation: upDownMove 1.2s ease-in-out infinite;
  }
  .ant-site-loading {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    transition: opacity 0.45s;
    pointer-events: none;
    opacity: 1;
    z-index: 9999;
    img {
      transform-style: preserve-3d;
      width: 64px;
      margin: 0 auto 10px;
      overflow: hidden;
      animation: loadTween 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
  }
  #react-content:empty + .ant-site-loading {
    opacity: 1;
  }
  #loading-text {
    font-family: lato,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    color: #777;
    font-size: 16px;
    letter-spacing: 2px;
    > span {
      display: inline-block;
      &:first-child {
        animation: xLeftMatrixR 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
      }
      &:last-child {
        animation: xRightMatrixR 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
      }
      &.blank {
        width: 0.4em;
      }
    }
  }
  .page-wrapper {
    background: #ECECEC;
  }
  //.loop-yoyo-load(@index) when (@index > = 0) {
  @for $i from 0 to 6 {
    .yoyo-x-#{$i} {
      animation: Load#{$i} 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
    }
  }
  .tr {
    text-align: right;
  }
  .tl {
    text-align: left;
  }
  .tc {
    text-align: center;
  }
  .mt5 {
    margin-top:5px;
  }
  .mt10 {
    margin-top:10px;
  }
  .ml5 {
    margin-left:5px;
  }
  .ml10 {
    margin-left:10px;
  }
  .mr5 {
    margin-right:5px;
  }
  .mr10 {
    margin-right:10px;
  }
  .mb5 {
    margin-bottom:5px;
  }
  .mb10 {
    margin-bottom:10px;
  }
}
@keyframes:global(loadTween) {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes:global(xLeftMatrixR) {
  0% {
    opacity: 0;
    transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(xRightMatrixR) {
  0% {
    opacity: 0;
    transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load5) {
  0% {
    opacity: 0;
    transform: translate(-30px, 30px) rotate(-30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(-30px, 30px) rotate(-30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load4) {
  0% {
    opacity: 0;
    transform: translate(30px, -30px) rotate(-30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(30px, -30px) rotate(-30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load3) {
  0% {
    opacity: 0;
    transform: translate(-30px, -30px) rotate(30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(-30px, -30px) rotate(30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load2) {
  0% {
    opacity: 0;
    transform: translate(-30px, 30px) rotate(-30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(-30px, 30px) rotate(-30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load1) {
  0% {
    opacity: 0;
    transform: translate(30px, 30px) rotate(30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(30px, 30px) rotate(30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(Load0) {
  0% {
    opacity: 0;
    transform: translate(30px, -30px) rotate(-30deg) scale(1.5, 1.5);
  }
  20% {
    opacity: 0;
    transform: translate(30px, -30px) rotate(-30deg) scale(1.5, 1.5);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }
}
@keyframes:global(upDownMove) {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
