.wrapper,
.inner {
    height: 100%;
}

.inner {
    display: flex;
}

$login-width: 600;
$logo-percent: percentage(260/$login-width);
.zhang {
    margin: auto;
    color: #fff;
    width: $login-width + px;
    padding: 20px 10px 10px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    transition: box-shadow 200ms;
    box-shadow: 0 0 80px rgba(250, 255, 189, 0.08);
    z-index: 10;
    animation-name: zoomIn;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.zhang:hover {
    box-shadow: 0 0 160px rgba(250, 255, 189, 0.12);
}

.chun {
    height: 100%;
    width: $logo-percent;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}

.hua {
    margin-left: $logo-percent;
    padding: 5px 15px 5px 0px;
}

.input {
    margin-bottom: 15px;
    input {
        width: 100%;
        font-size: 12px;
        text-indent: 17px;
        border: 1px solid #e7e7e7;
        border-radius: 4px;
        background-color: #e7e7e7;
        outline: none;
        height: 44px;
        font-family: "微软雅黑";
        line-height: 1.467;
        color: #777 !important;
        &:focus {
            background-color: #f5f5f5;
        }
    }
}

.help {
    margin-top: 12px;
    padding-right: 15px;
    text-align: right;
    position: relative;
    em {
        font-size: 2em;
        position: absolute;
        right: 0px;
        top: -10px;
    }
}

.btn {
    margin-bottom: 5px;
}

.btn :global(.ant-btn-primary) {
    width: 100%;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 14px;
}

:global(#canvas) {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #c2c2c2;
    text-shadow: 0px 0px 1px rgba(36, 36, 36, 0.3);
    animation-name: slideInUp;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.wrapper {
    transition: background 5000ms ease-in-out 200ms;
    //composes: login-bg from 'styles/fuck.scss';
    //!file!static/i/login01.jpg
    background: #000 url('/i/2.jpg') 50% 50% / cover no-repeat;
    overflow: hidden;
}

.logo {
    background-image: url('/i/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 65%;
    padding-bottom: 65%;
    margin: auto;
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}